[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
    showbranch = auto
[user]
    name = Bili Xu
    email = bili@edison.tech
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    up = pull --rebase --autostash
    loll = log --graph --decorate --pretty=oneline --abbrev-commit
    amend = commit --amend
[core]
    excludesfile = /Users/xbili/.gitignore
[url "git@github.com:"]
	insteadOf = https://github.com/
