[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
    showbranch = auto
[user]
    name = Bili Xu
    email = xubili93@gmail.com
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    up = pull --rebase --autostash
[core]
	excludesfile = /Users/xbili/.gitignore
